<div class="container">
    <div class="col">
      <div class="row">
        <div class="col-sm-5">
          <h4>
            Déjà membre ?
            <small class="text-muted">Connectez-vous:</small>
            <hr>
          </h4>
          <form [formGroup]="signinForm" (ngSubmit)="signin()">
            <div class="form-group row">
              <div class="col-sm">
                <input type="text" formControlName="email" class="form-control" id="email-id" placeholder="Adresse Email">
                <div class="text-danger" *ngIf="!signinForm.controls['email'].valid && signinForm.controls['email'].touched">{{ emailInvalidErrorMessage }}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm">
                <input type="password" formControlName="password" class="form-control" id="password-id" placeholder="Mot de passe">
                <div class="text-danger" *ngIf="!signinForm.controls['password'].valid && signinForm.controls['password'].touched">{{ passwordInvalidErrorMessage }}</div>
                <div class="text-danger" *ngIf="userNotFound">{{ userNotFoundErrorMessage }}</div>
              </div>
            </div>
            <div class="form-check row">
              <div class="col-sm">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> Rester connecté
                </label>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm text-right">
                <button type="submit" class="btn btn-info">Se connecter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>