<div class="card" *ngIf="comment">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ comment.content }}</p>
      <footer class="blockquote-footer" *ngIf="comment.user">Le {{ comment.created | date: 'dd/MM/yyyy - hh:mm' }} par <cite title="Source Title" *ngIf="comment.user.firstName && comment.user.lastName">{{ comment.user.firstName + ' ' + comment.user.lastName }}</cite></footer>
    </blockquote>
  </div>
</div>