<div class="container">
  <div class="col">
    <div class="row">
      <div class="col-sm">
        <h4>
          Profil
          <small class="text-muted">Informations du compte utilisateur:</small>
          <hr>
        </h4>
        <ng-container *ngIf="user">
          <strong>ID : </strong><samp>{{ user.id }}</samp><br>
          <strong>Prénom : </strong><samp>{{ user.firstName }}</samp><br>
          <strong>Nom : </strong><samp>{{ user.lastName }}</samp><br>
          <strong>Email : </strong><samp>{{ user.email }}</samp><br>
          <strong>Mot de Passe : </strong><samp>{{ user.password }}</samp><br>
          <strong>Date de création du compte : </strong><samp>{{ user.created | date:'dd/MM/yyyy - hh:mm' }}</samp><br>
          <strong>Date de modification du compte : </strong><samp>{{ user.modified | date:'dd/MM/yyyy - hh:mm' }}</samp><br>
        </ng-container>
      </div>
    </div>
  </div>
</div>