<div class="container">
  <div class="col">
    <div class="row">
      <div class="col-sm-5">
        <h4>
          Vous êtes nouveau ?
          <small class="text-muted">Inscrivez-vous:</small>
          <hr>
        </h4>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="form-group row">
            <div class="col-sm">
              <input type="text" formControlName="email" class="form-control" id="email-id" placeholder="Adresse Email">
              <div class="text-danger" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">{{
                emailInvalidErrorMessage }}</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <input type="password" formControlName="password" class="form-control" id="password-id" placeholder="Mot de passe">
              <div class="text-danger" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">{{
                passwordInvalidErrorMessage }}</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <input type="text" formControlName="firstName" class="form-control" id="firstName-id" placeholder="Prénom">
              <div class="text-danger" *ngIf="!signupForm.controls['firstName'].valid && signupForm.controls['firstName'].touched">{{
                firstNameInvalidErrorMessage }}</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <input type="text" formControlName="lastName" class="form-control" id="lastName-id" placeholder="Nom">
              <div class="text-danger" *ngIf="!signupForm.controls['lastName'].valid && signupForm.controls['lastName'].touched">{{
                lastNameInvalidErrorMessage }}</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm text-right">
              <button type="submit" class="btn btn-info">S'inscrire</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>