<div class="card mb-4" *ngIf="article">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <a [routerLink]="['/article/', article.id]">
                    <img [src]="article.img" alt="article.title" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-9">
                <h5 class="card-title">
                    <a [routerLink]="['/article/', article.id]">{{ article.title }}</a>
                </h5>
                <p class="card-text lead">
                    {{ (article.content.length > 300)? (article.content | slice:0:300) + '..' : (article.content) }}
                </p>
                <a [routerLink]="['/article/', article.id]" class="btn btn-sm btn-outline-info">Continuer la lecture</a>
                <p class="card-text">
                    <span class="text-muted small mr-2">
                        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ article.created | date:'dd/MM/yyyy - hh:mm' }}
                    </span>
                    <span class="text-muted small mr-2">
                        <i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ article.user.firstName }} {{ article.user.lastName }}
                    </span>
                    <span class="text-muted small mr-2 get-comments">
                        <a href="javascript:void(0)" (click)="getComments(article)"><i class="fa fa-comments-o fa-fw" aria-hidden="true"></i> {{ article.comments.length }}{{ article.comments.length < 2 ? ' commentaire' : ' commentaires' }}</a>
                    </span>
                </p>
                <div class="row" *ngIf="showComments">
                    <div class="col-sm comments">
                        <div class="row mb-3" *ngFor="let comment of article.comments">
                            <div class="col-sm">
                                <app-comment [comment]="comment"></app-comment>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>