<div class="container">
  <div class="article-long">
    <div class="row">
      <div class="col-sm">
        <h3>{{ article.title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img [src]="article.img" alt="article.title" class="img-article-long">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm">
        <p class="lead">{{ article.content }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p class="text-muted">
          <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ article.created | date: 'dd/MM/yyyy - hh:mm' }}
          <i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ article.user.firstName }} {{ article.user.lastName }}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="article.comments">
      <div class="col-sm comments">
        <div class="row mb-3">
          <div class="col-sm">
            <div *ngIf="authenticationService.isConnected();else notConnected">
              <form [formGroup]="commentForm" (ngSubmit)="commentFN()">
                <div class="form-group row">
                  <div class="col-sm">
                    <textarea type="text" formControlName="content" class="form-control" id="content-id" placeholder="Votre commentaire.."></textarea>
                    <div class="text-danger" *ngIf="!commentForm.controls['content'].valid && commentForm.controls['content'].touched">
                      {{ contentInvalidErrorMessage }}
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm text-right">
                    <button type="submit" class="btn btn-info">Commentez ({{ connectedUser.firstName + ' ' + connectedUser.lastName }})</button>
                  </div>
                </div>
              </form>
            </div>
            <ng-template #notConnected>
              <a [routerLink]="['/user/signin']" class="btn btn-lg btn-info">Veuillez vous connecter pour laisser un
                commentaire</a>
            </ng-template>
          </div>
        </div>
        <div class="row mb-3" *ngFor="let comment of article.comments">
          <div class="col-sm">
            <app-comment [comment]="comment"></app-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>