/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f1f3f5;
    padding-top: 88px;
}

.article-long {
    background-color: #FFFFFF;
    padding: 10px 15px;
}

a {
    color: #000000;
}

a:hover {
    color: #000000;
}

.img-article-long {
    max-height: 400px;
}