<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" [routerLink]="['home']">
        <i class="fa fa-bicycle fa-fw" aria-hidden="true"></i> Blog
      </a>

      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['home']">Accueil</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['about']">À propos</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!authenticationService.isConnected()" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/user/signin']">
              Se connecter
            </a>
          </li>
          <li class="nav-item" *ngIf="!authenticationService.isConnected()" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/user/signup']">
              Créer un compte
            </a>
          </li>
          <li class="nav-item" *ngIf="authenticationService.isConnected()" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/user/profile/', connectedUser.id]">
              {{ connectedUser.firstName + ' ' + connectedUser.lastName }}
            </a>
          </li>
          <li class="nav-item" *ngIf="authenticationService.isConnected()" [routerLinkActive]="['active']">
            <a class="nav-link" href="javascript:void(0)" (click)="signout()">
              Se déconnecter
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>